body {
    padding: 20px;
    font-size: 12pt;

    background: url(../img/logo-bg.png) top left no-repeat;
    background-attachment: fixed;
}

.bs-callout {
    margin: 20px;
}

.container {
	margin: auto;
	width: 1000px;
}

article {
	margin-top: 100px;
}
p {
	margin-top: 20px;
}

li.none {
	list-style-type: none;
}